h2{
	color:#EAF6FF;
	font-family: "Candara";
	text-align: center;
}
body{
	background:#A3AFB8; 
	font-family: Century Gothic;
}
p{
	font-size: 30px;
	color:#EAF6FF;
	font-family: "Candara";
	text-align: center;
}

h3{
	text-align: center;
	color:#ffffff;
	font-family: Century Gothic;
}
